* {
  transition: all .3 ease;
}

p {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

@media all and (min-width: 480px) {
 p {
        font-size: 1em;
        text-align: left;
    }  
 }    
